{% extends 'layouts/base.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
{% endblock %}

{% block body %}
    <div class="flex items-start flex-1 h-full overflow-hidden m-2">
        {% include 'components/dash-sidebar.html' %}
        <div class="flex flex-col items-center h-full flex-1 ml-2">
            {% include 'components/dash-navigation.html' %}
            {% block content %}

            {% endblock %}
        </div>
    </div>
{% endblock %}