<div class="flex items-center w-full px-8 py-4 sticky top-0 drop-shadow-sm justify-between">
    <div class="flex items-center">
        <div id="side-toggle" class="p-2 px-4 hover:bg-[#e4e4e4] rounded-xl">
        <i class="uil uil-align-center-alt text-2xl"></i>
    </div>
        <span class="text-lg mx-4 font-[600]">{{ tab }}</span>
    </div>
    <div class="flex items-center">
        <span class="text-sm mx-4 font-[500]">{{ user.email_address }}</span>
        <i class="uil uil-user-circle text-2xl"></i>
    </div>
</div>
